<template>
    <el-main>
        <SearchForm @search="search" :progress="progress"/>
        <Results :houses="houses" v-loading="progress" :progress="progress" :showResults="showResults"></Results>
    </el-main>
</template>

<script>
import Results from './components/Results.vue'
import SearchForm from "./components/SearchForm.vue";

const axios = require('axios').default;
axios.defaults.headers.common['Accept'] = 'application/json';

export default {
    name: "App",
    data() {
        return {
            houses: [],
            progress: false,
            showResults: false
        }
    },
    components: {
        SearchForm,
        Results
    },
    methods: {
        search(conditions) {
            this.progress = true;
            this.showResults = true;
            console.log('search...');
            this.houses = []; // reset
            axios.post('/api', conditions)
                .then((response) => {
                    this.houses = JSON.parse(response.data)
                })
                .catch((err) => {
                    console.log(err)
                })
                .then(() => {
                    this.progress = false;
                })
        }
    }
}
</script>

<style scoped>

</style>
