<template>
    <el-row id="results" v-show="showResults">
        <el-col :span="24">
            <div class="grid-content bg-purple-dark">
                <el-table
                    empty-text="No results"
                    :data="houses"
                    style="width: 100%">
                    <el-table-column
                        prop="name"
                        label="Name">
                    </el-table-column>
                    <el-table-column
                        prop="bedrooms"
                        label="Bedrooms">
                    </el-table-column>
                    <el-table-column
                        prop="bathrooms"
                        label="Bathrooms">
                    </el-table-column>
                    <el-table-column
                        prop="storeys"
                        label="Storeys">
                    </el-table-column>
                    <el-table-column
                        prop="garages"
                        label="Garages">
                    </el-table-column>
                    <el-table-column
                        prop="price"
                        label="Price">
                    </el-table-column>
                </el-table>
            </div>
        </el-col>
    </el-row>
</template>

<script>
export default {
    name: "Results",
    props: ['houses', 'progress', 'showResults']
}
</script>

<style>
#results .el-loading-mask .el-loading-spinner {
    top: 30px;
    left: 50%;
    width: auto;
}
</style>
