<template>
    <el-row>
        <el-col :span="24">
            <div class="grid-content bg-purple-dark">
                <el-form  id="search-form" ref="form" :model="conditions" label-width="120px">
                    <el-form-item label="Name">
                        <el-input placeholder="Name" v-model="conditions.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Bedrooms">
                        <el-input-number placeholder="Bedrooms" v-model="conditions.bedrooms"
                                         :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item label="Bathrooms">
                        <el-input-number placeholder="Bathrooms" v-model="conditions.bathrooms"
                                         :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item label="Storeys">
                        <el-input-number placeholder="Storeys" v-model="conditions.storeys" :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item label="Garages">
                        <el-input-number placeholder="Garages" v-model="conditions.garages" :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item label="Price">
                        <el-input placeholder="From" type="number" min="1" max="1000000"
                                  v-model="conditions.price_from"></el-input>
                        <el-input placeholder="To" type="number" min="1" max="1000000"
                                  v-model="conditions.price_to"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="search" v-loading="progress">Find</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-col>
    </el-row>
</template>

<script>
export default {
    name: "SearchForm",
    props: ['progress'],
    data() {
        return {
            conditions: {
                name: undefined,
                bedrooms: undefined,
                bathrooms: undefined,
                storeys: undefined,
                garages: undefined,
                price_from: undefined,
                price_to: undefined
            }
        }
    },
    methods: {
        search() {
            this.$emit('search', this.conditions)
        }
    }
}
</script>

<style>
#search-form .el-loading-mask .el-loading-spinner {
    top: 20px;
    left: 20%;
    width: 100%;
}
</style>
